/* body{background: url(../images/sub01.png) no-repeat center top;} */
	

	
	#rightContent{width: 1060px; }
		#contentTit{width: 1060px; height: 100px; border-bottom: 2px solid #dfdfdf;}
			#contentTit h2{float: left; color: #555555; margin-top: 43px; font-size: 35px; padding-left: 1px;}
			#contentTit ul{float: right; padding: 20px 10px;}
			#contentTit ul li{float: right; padding-left: 30px; background:url(../../images/subright.jpg) no-repeat 2px 2px;}
			#contentTit ul li.first a{color: #23a089;}
			#contentTit ul li.last{background: url(../../images/home.jpg) no-repeat 2px 3px;}
			#contentTit ul li a{display: block; padding: 1px 2px; font-weight: bold; font-size: 16px;}
		#mainCont{width: 1060px;}
			#contentBox{width: 1060px; height: 740px;}
			#contentBox div{width: 1020px; height: 150px; border: 1px solid #efefef; margin: 30px 0px; padding: 20px;}
			#contentBox .electronBox{background: url(../images/sub02_img1.jpg) no-repeat 15px 30px;}
			#contentBox .letterBox{background: url(../images/sub02_img2.jpg) no-repeat 15px 30px;}
			#contentBox .callBox{background: url(../images/sub02_img3.jpg) no-repeat 15px 30px;}
			#contentBox div h3{padding: 15px 120px; }
			#contentBox div p{padding: 0px 0px 0px 120px;}
			#contentBox div button{margin: 40px 0px 0px 120px; padding: 8px 10px; border-radius: 5px; background: #23a089; color: #ffffff; font-weight: bold; box-sizing: border-box; border-color: #23a089;}
			#contentBox div address{padding: 30px 0 0 120px; font-style: normal; font-size: 14px; color: #23a089; font-weight: bold;}
			#contentFT {width: 1060px; height: 80px;}
			#contentFT ul{width: 80%; margin: 0 auto; background: #eeeeee; padding: 10px; border-radius: 10px;}
			#contentFT ul li{float: left; text-align: center;}
			#contentFT ul li a{display: block; font-size: 14px; font-weight: bold; padding: 2px 56px;}
	
	