/* body{background: url(../images/sub03.png) no-repeat center top;}  */



	#rightContent{width: 1060px; }
		#contentTit{width: 1060px; height: 100px; border-bottom: 2px solid #dfdfdf; margin-bottom: 20px;}
			#contentTit h2{float: left; color: #555555; margin-top: 43px; font-size: 35px; padding-left: 1px;}
			#contentTit ul{float: right; padding: 20px 10px;}
			#contentTit ul li{float: right; padding-left: 30px; background:url(../../inculde/images/subright.jpg) no-repeat 2px 2px;}
			#contentTit ul li.first a{color: #23a089;}
			#contentTit ul li.last{background: url(../../inculde/images/home.jpg) no-repeat 2px 3px;}
			#contentTit ul li a{display: block; padding: 1px 2px; font-weight: bold; font-size: 16px;}
			
		#contentDt{width: 1060px; }	
		#contentDt .textBox{padding: 20px; border: 1px solid #dfdfdf; }	
		#contentDt .textBox p{font-size: 14px; line-height: 200%; letter-spacing: -1px;  padding-left: 15px; background: url(../../images/subdot.jpg) no-repeat -7px 4px;}	
			#contentDt .leftBottom{float: left; margin: 75px 0px 25px 5px; font-size: 16px; font-weight: bold; }	
			#contentDt input{float: right; width: 300px; height: 50px; line-height: 22px; padding: 0px 20px; font-weight: bold; margin-top: 56px; font-size: 16px;}	
			#contentDt select{float: right; width: 150px; height: 54px; padding: 0px 20px; margin-top: 56px; font-size: 16px;}	
			
			/* 게시판 타이틀 */
		#mainCont{width: 1060px; }
			#conTit .first{width: 1060px; height:60px; color: #222222; font-weight: bold; text-align: center; border-bottom: 1px solid #999999;}
			#conTit .title1{width: 86px;}
			#conTit .title2{width: 406px;}
			#conTit .title3{width: 276px;}
			#conTit .title4{width: 156px;}
			#conTit .title5{width: 136px;}
			#conTit > .first > div{line-height: 60px; height: 50px; text-align: center; float: left;}
		
			 
			/* 게시판 목록 */
			#conSection .middle{width: 1060px;color: #222222; text-align: center;}
			/* #conSection .notice{width: 1060px; color: #222222; font-weight: bold; text-align: center;} */
			#conSection .title1{width: 86px;}
			#conSection .title2{width: 406px;}
			#conSection .title3{width: 276px;}
			#conSection .title4{width: 156px;}
			#conSection .title5{width: 136px;}
			#conSection > div input{display: none;}
			#conSection > div > div{ line-height: 50px; text-align: center; float: left; border-bottom: 1px solid #efefef; padding: 5px 0px;}
 
			/* 게시판 세부 목록 */
			#conSection>div .content{height: auto; width: 1020px; text-align: center; display: none; background: #eeeeee; border-bottom: 2px solid #eeeeee; font-weight: normal; padding: 20px}
			#conSection .content{color: #555555; text-align: justify; line-height: 33px; }
			/* #conSection input:checked ~ div.content{display: block;}
			#conSection input:checked ~ div.title2>label{cursor: default;} */
			#conSection label{cursor: pointer; line-height: 50px; height: 50px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left;}

			/* 페이지 번호 */
			#confooter{float: left; margin: 30px 335px;}
			#confooter >div{ float: left; padding: 2px 10px; margin: 10px; cursor: pointer;}
			#confooter >div:hover{font-weight: bold; color: #000000;}
			
			
	
	


