/* body{background: url(../images/sub03.png) no-repeat center top;}  */


	#rightContent{width: 1060px; }
		#contentTit{width: 1060px; height: 100px; border-bottom: 2px solid #dfdfdf; margin-bottom: 20px;}
			#contentTit h2{float: left; color: #555555; margin-top: 43px; font-size: 35px; padding-left: 1px;}
			#contentTit ul{float: right; padding: 20px 10px;}
			#contentTit ul li{float: right; padding-left: 30px; background:url(../images/subright.jpg) no-repeat 2px 2px;}
			#contentTit ul li.first a{color: #23a089;}
			#contentTit ul li.last{background: url(../images/home.jpg) no-repeat 2px 3px;}
			#contentTit ul li a{display: block; padding: 1px 2px; font-weight: bold; font-size: 16px;}
				
		/* 메인 콘텐트 */
		#mainCont{ position: relative; width: 1060px; margin: 0 auto; border-bottom: solid 1px #dddddd; padding-bottom: 30px; margin-bottom: 60px;}

		/* 가입 양식 폼 */
		#joinBox{width:700px; margin: 0 auto; padding-top: 30px; }
		#joinBox .col1{height: 40px; line-height: 50px;}
		#joinBox .col2{float: left;}
		#joinBox .col2>input{width: 500px; height: 35px;}
		#joinBox .col2>input[name=email1]{width: 240px; height: 35px;}
		#joinBox .col2>input[name=email2]{width: 240px; height: 35px;}
		#joinBox .col3{float: left; margin-left: 10px; width: 100px; height: 35px;}
		#joinBox .col3>a{display: block; width: 100px; background: #efefef; color: #222222; height: 35px; line-height: 35px; text-align: center; font-size: 14px;}
		#joinBox .clear{clear: both;}
		#joinBox .buttons{width: 220px; margin-left: 152px; padding-top: 30px;}
		#joinBox .buttons>div{float: left; width: 100px; height: 35px; text-align: center; line-height: 35px;background: #efefef; color: #222222; margin-right: 10px;}
		
					


			
			
			
			
			
			
			
			
			
			
